$backgroundColor: #EFEEE8;
$textColor: #333;
$textFontFamily: Oxygen, sans-serif;
$titleFontFamily: Libre Baskerville, sans-serif;

@mixin _1200{
    @media (max-width: 1200px){
        @content;
    }
}

@mixin _992{
    @media (max-width: 992px){
        @content;
    }
}

@mixin _850{
    @media (max-width: 850px){
        @content;
    }
}

@mixin _576{
    @media (max-width: 576px){
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// *{
//     outline: 1px solid red;
// }

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    background-color: $backgroundColor;
    font-family: $textFontFamily;
    display: flex;
    flex-direction: column;
}

.container{
    padding: 0 100px;

    @include _850{
        padding: 0 50px;
    }

    @include _576{
        padding: 0 21px;
    }
}

header{
    flex: 0 0 auto;
    border-bottom: 1px solid #333;
}

main{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}


.header{

    &__container{
        padding: 0 52px;
        
        @include _576{
            padding: 0 21px;
        }
    }

    &__logo{
        width: 14%;
        flex-shrink: 0;

        @include _850{
            width: auto;
        }

        img{
            padding: 24px 0 21px 0;
            width: 100%;
        }
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__menu{
        display: grid;
        justify-items: end;
        width: 100%;

        
    }
}

.header-menu__list{
    display: flex;
    align-items: center;
    margin-right: 39px;

    @include _850{
        display: none;
    }
}

.menu-list{
    &__items{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 20px 10px 20px 16px;

        &:hover .menu-list__items-nextlist{
            transform: rotateX(0);
            transition: 1s;
        }

        &-nextlist{
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #E4E2D3;
            z-index: 10;
            padding: 15px 20px 90px 0px;
            justify-content: space-between;
            transition: .3s;
            transform: rotateX(90deg);
            transform-origin: 0 0;
            border: 1px solid #333;
        }

        &-nextitems{
            flex-shrink: 0;
            width: 33.3%;
            margin-top: 20px;

            // & + &{
            //     margin-left: 100px;
            // }
            
            a{
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                transition: 0.3s;

                &:hover{
                    scale: 1.02;
                }

                img{
                    margin-top: 10px;
                    width: 100%;
                }
            }

        }

        svg{
            transition: 0.3s;
        }

        &:hover svg{
            transform: rotate(180deg);
        }

        @include _992{
            font-size: 12px;
        }

        a{
            color: #333;
            display: flex;
            align-items: center;
        }

        &-last{
            border-left: 1px solid #333;

            
        }


    }
}

.header__get a{
    display: flex;
    align-items: center;
    padding: 30px 0 29px 33px;
    border-left: 1px solid #333;
    height: 100%;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.header-get__text{
    margin-right: 32px;
}

.header-menu__burger{
    display: none;

    @include _850{
        display: block;
    }
}

button{
    background: #333;
    color: #EFEEE8;
    font-family: $titleFontFamily;
    cursor: pointer;
    transition: 0.3s;

    svg{
        fill: #EFEEE8;
    }

    &:hover{
        background: #EFEEE8;
        color: #333;

        svg{
            stroke: #333;
            fill: #333;
        }
    }


}



// .main__start{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.main-start{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-bottom{
            display: flex;
            align-items: center;
            margin-left: -32px;
        }
    }

    &__title{
        color: #333;
        text-align: center;
        font-family: $titleFontFamily;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 73.6px; 
        margin-top: 94px;

        @include _992{
            font-size: 50px;
        }

        @include _576{
            font-size: 39px;
        }
    }

    &__desc{
        color: #333;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.3px;
        margin-top: 29px;
        margin-bottom: 35px;

        @include _992{
            font-size: 18px;
        }
    }

    &__button{
        width: 242px;
        height: 64px;
        margin-bottom: 80px;

        svg{
            margin-left: 50px;
        }
    }

    &__bottom{
        background: $textColor;
        // height: 700px;
        width: 100%;
        overflow: hidden;

        @include _850{
            display: none;
        }
    }

    &__colomn{
        width: 33.3%;
        padding-left: 32px;

        img{
            width: 100%;
        }

        img + img{
            margin-top: 32px;
        }
    }
}

.main__facts{
    margin-top: 101px;
    margin-bottom: 196px;

    @include _1200{
        margin-bottom: 100px;
    }

    @include _850{
        margin-top: 0;
    }
}

.main-facts{
    &__container{
        display: flex;
        align-items: center;
    }

    &__left{
        width: 50%;

        img{
            width: 100%;
        }

        @include _992{
            display: none;
        }
    }

    &__right{
        width: 50%;
        padding-left: 101px;

        @include _992{
            width: 100%;
            padding-left: 0;
        }
    }

    &__title{
        color: #333;
        font-family: $titleFontFamily;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; 
        margin-bottom: 28px;

        @include _1200{
            font-size: 30px;
        }
    }

    &__desc{
        color: rgba(51, 51, 51, 0.90);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29.7px;
        margin-bottom: 51px;
    }

    &__list{
        color: #333;
        font-family: Oxygen;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 23.1px;
        text-transform: uppercase;
        margin-bottom: 62px;
    }

    &__list-items{
        color: #333;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 26.4px;
        text-transform: lowercase;
        border-bottom: 1px solid #333;
        padding-bottom: 16px;
        padding-top: 19px;
    }

    &__button{
        width: 215px;
        height: 48px;

        svg{
            margin-left: 32px;
        }
    }
}

.page__section{
    padding-bottom: 8px;

    & + &{
        padding-top: 50px;
        border-top: 1px solid rgba(51, 51, 51, 0.10);
    }


    &-title{
        color: #333;
        font-family: $titleFontFamily;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 28px;

        @include _1200{
            font-size: 30px;
        }
    }

    &-desc{
        color: rgba(51, 51, 51, 0.90);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29.7px;
        width: 51%;
        margin-bottom: 43px;

        @include _992{
            width: 80%;
        }
    }

    &-cards{
        display: flex;
        align-items: center;
        margin-left: -32px;
        flex-wrap: wrap;

        @include _850{
            display: block;
        }
    }

    


}

.section-cards{
    &__item{
            padding-left: 32px;
            padding-bottom: 32px;
            width: 33.3%;

            @include _850{
                width: 70%;
            }

            @include _576{
                width: 90%;
            }
    }

    &__inner{
        padding: 24px 24px 30px 24px;
        background: #E4E2D3;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            border: 1px solid #333;
            transform: scale(1.02);
        }

        @include _992{
            padding: 14px 14px 20px 14px;
        }
    }

    &__photo{
        width: 100%;

        img{
            width: 100%;
        }
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 22px;
        color: #333;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; 

        @include _992{
            margin-top: 10px;
            font-size: 13px;
        }
    }

}

.main-question{
    &__container{
        padding: 0 220px;
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        @include _992{
            padding: 0 130px;
        }

        @include _850{
            padding: 0 50px;
        }

        @include _576{
            padding: 0 21px;
        }
    }

    &__left{
        width: 50%;

        @include _850{
            display: none;
        }

        img{
            width: 100%;
        }
    }

    &__right{
        width: 50%;
        padding-left: 54px;

        @include _850{
            padding-left: 0;
            width: 70%;
        }

        @include _576{
            width: 90%;
        }
    }

    &__title{
        color: #333;
        font-family: $titleFontFamily;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 25px;

        @include _1200{
            font-size: 30px;
        }

        @include _992{
            font-size: 22px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__input{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.80);
        padding: 16px 0 16px 34px;
        color: #333;
        font-family: $titleFontFamily;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.28px;

        @include _1200{
            font-size: 13px;
        }

        @include _992{
            padding: 8px 0 8px 20px;
        }

        & + &{
            margin-top: 15px;
        }

        &::placeholder{
            color: #333;
            font-family: $titleFontFamily;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.28px;

            @include _1200{
                font-size: 13px;
            }
        }
    }

    &__button{
        padding: 15px;
        width: 100%;
        margin-top: 40px;
    }
}

.footer{
    border-top: 1px solid #333;

    &__top{
        display: flex;
        justify-content: space-between;

        @include _576{
            display: block;
        }

        img{
            margin-top: 84px;

            @include _576{
                margin-top: 12px;
            }
        }

        svg{
            margin-top: 93px;

            @include _576{
                margin-top: 12px;
            }

        }
    }

    &__networks {

        &-item{
            svg{
                transition: .3s;
            }

            .networks-item__circle{
                stroke: #333;
            }

            .networks-item__object{
                fill: #333;

            }

            &:hover svg{
                .networks-item__object{
                    fill: #EFEEE8;
                    stroke: #333;
    
                }
            }
        }

        
    }
    
    

    &__middle{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        margin-bottom: 134px;

        @include _992{
            margin-top: 40px;
            margin-bottom: 63px;
        }
    }

    &__text{
        width: 32.3%;
        color: #333;
        font-family: $titleFontFamily;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.6px;

        @include _992{
            font-size: 16px;
        }

        @include _850{
            width: 50%;
        }
    }

    &__menu{
        margin-top: 16px;
        display: flex;
        flex-shrink: 0;

        @include _850{
            margin-top: 0;
            width: 50%;
            display: block;
            padding-left: 70px;
        }

        &-topics{
            color: #333;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; 
            margin-left: 80px;
            cursor: pointer;

            @include _1200{
                margin-left: 49px
            }

            @include _850{
                margin-left: 0;
                margin-bottom: 15px;
            }
            
        }

        &-links{
            margin-top: 24px;
            

            @include _992{
                margin-top: 16px;
            }

            @include _850{
                display: none;
            }

            a{
            color: #333;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #333;
                transition: width 0.3s ease-out;
            }

            &:hover:after{
                width: 100%;
            }
            } 
        
        
            
        }
    }

    &__bottom{
        color: #333;
        font-family: $titleFontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;

        @include _850{
            font-size: 11px;
        }

        span{
            display: block;
        }


        a{
            display: block;
            color: #333;
            font-family: $titleFontFamily;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        svg{
            margin: 0 8px;
        }
    }
}

.modal{
    position: fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
    visibility: hidden;
    opacity: 0;

    &.modal--active{
        visibility: visible;
        opacity: 1;
    }

    &__button{
        padding: 14px 24px;
        
    }

    &__cross{
        width: 30px;
        height: 30px;
        align-self: flex-end;
        cursor: pointer;
        transition: .3s;

        &:hover{
            transform: rotate(90deg);
        }

        img{
            width: 30px;
            height: 30px;
        }
    }

    &__container{
        z-index: 2;
    }

    &__content{
        display: flex;
    }

    &__inner{
        width: 100%;
        background: #E4E2D3;
        padding: 20px;
        display: flex;
        flex-direction: column;

        &-right{
            margin-left: 20px;
            margin-right: 40px;
        }

        &-title{
            color: #333;
            font-family: Libre Baskerville;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 120% */
            margin-bottom: 20px;
        }

        &-desc{
            color: rgba(51, 51, 51, 0.90);
            font-family: Oxygen;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 29.7px; /* 165% */
            margin-bottom: 20px;
        }
        
    }

    &__overlay{
        position:absolute;
        width:100%;
        height:100%;
        z-index:1;
        cursor: pointer;
    }
}
